* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
}


.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 0.625em 25em;
}

.header-logo {
    font-weight: bold;
    align-self: center;
    font-size: 1.5em;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 0.75em;
    font-size: 1.125em;
    color: #E5E7EB;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
}

.first_container {
    background-color: #1F2937;
    display: flex;
    padding: 7.5em 25em; 
    gap: 3.125em;
    flex: 1;
}

button {
    text-align: center;
    padding: 0.625em 2.5em;
    font-weight: bold;
    border-radius: 0.625em;
}

.first_container button {
    background-color: #3882FE;
    margin: 0.625em 0;
    color: #E5E7EB;
    border: 0.125em solid #FFF;
}

.fourth_container button {
    background-color: #3882FE;
    color: #E5E7EB;
    border: 0.125em solid #FFF;
}

.fourth_container button:hover {
    background-color: #FFF;
    color: #3882FE;
    border: 0.125em solid #FFF;
}

.first_container button:hover {
    background-color: #FFF;
    margin: 0.625em 0;
    color: #3882FE;
    border: 0.125em solid #FFF;
}


.right-side {
    background: #5c5858;
    opacity: 0.8;
    padding: 6.25em 12.5em;
}

.image-placeholder p {
    font-size: 1em;
    color: #E5E7EB;
    text-align: center;
}

.second_container {
    padding: 4.375em 25em;
}

.hero-main-text {
    font-size: 3em;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 1.125em;
    margin: 0.625em 0;
    color: #E5E7EB;
}

.information-text {
    font-size: 2em;
    font-weight: bold;
    color: #1F2937;
    padding-bottom: 2.5em;
}

.information-text p {
    text-align: center;
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 4.375em;
}

.small-image {
    width: 12.5em;
    height: 12.5em;
    border: 0.1875em solid #3882FE;
    border-radius: 1em;
}

.subtext-container {
    display: flex;
    gap: 4.375em;
    justify-content: center;
}

.subtext {
    text-align: center;
    font-size: 1em;
    opacity: 0.6;
    width: 12.5em;
    margin: 0.625em 0;
}

.third_container {
    background-color: #E5E7EB;
    padding: 6.25em 25em;
}

#quote {
    font-size: 2em;
    font-style: italic;
    color: #1F2937;
    font-weight: 100;
    opacity: 0.7;
}

#author {
    font-weight: bold;
    text-align: right;
}

.fourth_container {
    background-color: #3882FE;
    font-size: 1.125em;
    color: #E5E7EB;
    margin: 6.25em 25em;
    border-radius: 0.625em;
    padding: 3.75em 3.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer {
    background-color: #1F2937;
    font-size: 1.125em;
    text-align: center;
    color: #E5E7EB;
    padding: 1.875em 25em;
}