* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 10px 300px;
}

.header-logo {
    font-weight: bold;
    align-self: center;
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 12px;
    font-size: 18px;
    color: #E5E7EB;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
}

.first_container {
    background-color: #1F2937;
    display: flex;
    padding: 60px 300px; 
    gap: 100px;
    flex-grow: 1;
}

.second_container {
    padding: 50px 300px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.right-side {
    flex-basis: auto;
}

.image-placeholder img {
    width: 100%;
    height: 100%;
}

.information-text {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding-bottom: 20px;
}

.information-text p {
    text-align: center;
}

.images-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.small-image {
    width: 100px;
    height: 100px;
    border: 2px solid #3882FE;
    border-radius: 15px;
}

.third_container {
    background-color: #E5E7EB;
    padding: 0 300px;
}

#quote {
    font-size: 36px;
    font-style: italic;
}

#author {
    font-weight: bold;
    text-align: right;
}

/* .wrapper {
    position: relative;
}

.wrapper .footer {
    position: absolute;
    bottom: 0;
    padding: 0 200px;
    background-color: #1F2937;
}

.wrapper .footer p {
    text-align: center;
    font-size: 18px;
    color: #E5E7EB;
} */